<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Assassin</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="\stylesheets\custom.css">
	<script src="javascripts/utilities.js"></script>
</head>

<body class="container" style="margin-top: 10px;" onload="defaultCursor();">

	<!-- check if admin first -->

	<% if (adminPlayerCode == playerCode)
	{%>

		<div style="height: 8px;"></div>

		<%- include('adminFeatures'); %>

		<div style="height: 16px;"></div>

		<%- include('gameStatistics'); %>

		<div style="height: 16px;"></div>

	<%}
	else
	{%>

		<div class="card" style="width:21rem;">

		  <div class="card-header">
				<div style="height: 3px;"></div>
				<h5>Welcome to Assassin <%= playerName %>!</h5>

				<% if (playerMessage != "")
				{%>
					<div style="height: 2px;"></div>
					<%= playerMessage %>
					<div style="height: 6px;"></div>
				<%}%>

				<!-- check game status here -->
				<% switch(gameStatus)
				{
						case "Not Started":
								%>
								The game has not started yet.
								<div style="height: 6px;"></div>
								<%
								break;

						case "Overnight":
								%>
								The game is on overnight break.
								<div style="height: 6px;"></div>
								<%break;

						case "Over":
								%>
								The game is over.
								<div style="height: 6px;"></div>
								<%
								break;

						default:
							// do nothing
				}%>

		  </div>

		  <div class="card-body">

				<% switch(teamStatus)
					{
							case "0":
									%>
											<%- include('freeAgentFeatures'); %>
									<%
									break;

						  case "Live":
										%>
														<%- include('liveTeamFeatures'); %>
										<%
										break;

							case "Waiting":
										%>
														<%- include('waitingTeamFeatures'); %>
										<%
										break;

							case "Inactive":
										%>

												Your team status is Inactive.<br>Your individual status is <%= playerStatus %>.<br>
										<%
										break;

							case "Break":
										%>

												Your team status is On Break.<br>Your individual status is <%= playerStatus %>.<br>
										<%
										break;

							case "Registered":
										%>
												<%- include('registeredTeamFeatures'); %>
										<%
										break;

							case "Pics Approved":
										%>
												<%- include('picsApprovedTeamFeatures'); %>
										<%
										break;

							case "Paid":
										%>
												<%- include('paidTeamFeatures'); %>
										<%
										break;

							case "Quit":
										%>
												<%- include('quitTeamFeatures'); %>
										<%
										break;

							default:
						    // need code block
					}

					%>

				</div>

				</div>

				<div style="height: 2px;"></div>

				<% if (captainFlag == 1) { %>
						<%- include('captainFeatures'); %>
				<%}
				else
				{%>
						<% if ((numTeammates > 0) && (gameStatus != "Over")) { %>

								<div style="height: 14px;"></div>

								<div class="card" style="width:21rem;">

									<div class="card-header">
										Teammate Details
									</div>

									<div class="card-body">

											<div style="height: 6px;"></div>
											<%-  include('teammateList'); %>
											<div style="height: 10px;"></div>

											<%
												if (playerStatus == "Bench")
												{%>
														<%- include('benchFeatures'); %>
												<%}%>

									</div>

							</div>

						<%}%>

				<%}%>

		<div style="height: 17px;"></div>

		<div class="card" style="width:21rem;">

		  <div class="card-header">
		    Your Player Data
				<div style="height: 4px;"></div>
		  </div>

		  <div class="card-body">

					<div style="height: 5px;"></div>

					Player Code:  <%= playerCode %>
					<div style="height: 9px;"></div>

					Celebritarian:
					<% if (playerCelebStatus == '0')
					{%>
						No
				<% } else { %>
						Yes
				<% } %>
					<div style="height: 9px;"></div>

					Email:  <%= playerEmail %>
					<div style="height: 9px;"></div>

					Phone:  <%= playerPhone %>
					<div style="height: 9px;"></div>

					<% if (teamStatus != "0") { %>

						My Last Shift:

						<%
								var g1 = new Date(myLastShiftTimeStamp);
								var g2 = new Date("2000-01-01 00:00:00");
						    if (g1.getTime() === g2.getTime())
								{ %>

						 <% }
						    else
								{ %>

									<%= myLastShiftTimeStamp %>

							<% } %>

						<div style="height: 9px;"></div>

						Your Team Name:  <%= playerTeamName %>
						<div style="height: 9px;"></div>

						Team Code:  <%= playerTeamCode %>
						<div style="height: 9px;"></div>

						Team Shift Start:
							<%
								if (numTeammates == 0)
								{
										var g1 = new Date(myLastShiftTimeStamp);
										var g2 = new Date("2000-01-01 00:00:00");
								    if (g1.getTime() === g2.getTime())
										{ %>

								 <% }
								    else
										{ %>
											<%= myLastShiftTimeStamp %>
									<% }

							}	else
							{
								var g1 = new Date(teamCurrentShiftStart);
								var g2 = new Date("2000-01-01 00:00:00");
								if (g1.getTime() === g2.getTime())
								{ %>

								<% }
								else
								{ %>
									<%= teamCurrentShiftStart %>
								<% }
							}%>

							<div style="height: 9px;"></div>

							Team Bounties Owed:  <%= teamBountiesOwed %>
							<div style="height: 9px;"></div>

							Total Team Bounties Earned:  <%= totalTeamBountiesEarned %>
							<div style="height: 9px;"></div>

					<%}%>

					Your Photo Status:  <%= playerPicStatus %>
					<div style="height: 15px;"></div>

					<!-- game over checks -->

					<% 	if (((playerPicStatus == "Approved") || (playerPicStatus == "Uploaded")) && (gameStatus != "Over"))  { %>

						<form action="managePicture" method="post" onsubmit="return waitCursor()">
									<input type="hidden" name="myPlayerCode" value="<%= playerCode %>">
									<input type="hidden" name="playerPic" value="<%= playerPic %>">
									<input type="hidden" name="picFeature" value="View">
									<input type="submit" class="btn btn-info" value="View My Picture"/>
									<div style="height: 18px;"></div>
						</form>

					<% } else {  // rejected pic

								if	(gameStatus != "Over")
								    {
								%>
												<form action="managePicture" method="post"onsubmit="return waitCursor()">
															<input type="hidden" name="myPlayerCode" value="<%= playerCode %>">
															<input type="hidden" name="playerPic" value="<%= playerPic %>">
															<input type="hidden" name="picFeature" value="Edit">
															<input type="submit" class="btn btn-info" value="Upload New Picture"/>
															<div style="height: 18px;"></div>
												</form>

								<% } %>
					<%}%>

					<% 	if (((playerPhone == "") || (playerPhone == null)) && (gameStatus != "Over")) { %>

						<form action="addPlayerPhoneNumber" method="post"onsubmit="return waitCursor()">
									<input type="hidden" name="myPlayerCode" value="<%= playerCode %>">
									<input type="submit" class="btn btn-info" value="Add Phone Number"/>
									<div style="height: 18px;"></div>
						</form>

					<% } else {

							if	(gameStatus != "Over")
									{
							%>
											<form action="editPlayerPhoneNumber" method="post"onsubmit="return waitCursor()">
														<input type="hidden" name="myPlayerCode" value="<%= playerCode %>">
														<input type="hidden" name="myPhoneNumber" value="<%= playerPhone %>">
														<input type="submit" class="btn btn-info" value="Edit Phone Number"/>
														<div style="height: 18px;"></div>
											</form>

											<form action="removePlayerPhoneNumber" onsubmit="return confirmChoice(<%= CONFIRM_REMOVE_PHONE %>)" method="post">
														<input type="hidden" name="myPlayerCode" value="<%= playerCode %>">
														<input type="submit" class="btn btn-info" value="Remove Phone Number"/>
														<div style="height: 18px;"></div>
											</form>

									<% } %>

								<% } %>

					<%  if	(gameStatus != "Over")
					    {
					%>

								<form action="viewRules" method="post">
									<input type="hidden" name="myPlayerCode" value="<%= playerCode %>">
									<input type="hidden" name="myPhone" value="<%= playerPhone %>">
									<input type="hidden" name="myPlayerName" value="<%= playerName %>">
									<input type="submit" class="btn btn-info" value="View Rules"/>
									&nbsp&nbsp&nbsp&nbsp&#8201
									<input type="submit" class="btn btn-info" formaction="contactAdmin" value="Contact Admin" onsubmit="return waitCursor()"/>
								</form>

								<div style="height: 18px;"></div>

								<form action="assassinLogout" method="post"onsubmit="return waitCursor()">
									<input type="hidden" name="myPlayerCode" value="<%= playerCode %>">
									<input type="hidden" name="myTeamCode" value="<%= playerTeamCode %>">
									<input type="submit" class="btn btn-info" value="Logout"/>
									&nbsp&nbsp&nbsp&nbsp&#8201
									<input type="submit" class="btn btn-info" formaction="viewTeamHistory" value="View Team History" onsubmit="return waitCursor()"/>
								</form>

								<div style="height: 4px;"></div>
								<hr>
								<div style="height: 2px;"></div>

								<form action="quitGame" onsubmit="return confirmChoice(<%= CONFIRM_QUIT %>)" method="post">
										<input type="hidden" name="myPlayerCode" value="<%= playerCode %>">
										<input type="hidden" name="myTeamCode" value="<%= playerTeamCode %>">
										<input type="submit" class="btn btn-info" value="Quit Game"/>
								</form>

					<% } %>

					<div style="height: 6px;"></div>

				</div>

			</div>

			<div style="height: 22px;"></div>

			<%- include('gameStatistics'); %>

			<div style="height: 16px;"></div>

	<% } %>

</body>
</html>
