<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="\stylesheets\custom.css">
<script src="javascripts/utilities.js"></script>

<%  if	((gameStatus == "Live") || (gameStatus == "Overnight"))
    {
%>
      <div style="height: 2px;"></div>
      <b>
      Your team status is Live.
      <div style="height: 3px;"></div>
      Your individual status is <%= playerStatus %>.
      </b>
      <div style="height: 6px;"></div>
      Target Team Name:&nbsp<%= targetTeamName %>
      <div style="height: 3px;"></div>
      Target Name:&nbsp<%= targetName %>
      <div style="height: 13px;"></div>

      <form>
      <img src=<%=targetPic%>
       loading="lazy">
      </form>

      <div style="height: 12px;"></div>

      <% if ((playerStatus == "Live") && (gameStatus == "Live")) { %>

          <form action="validateKill" method="post" onsubmit="return waitCursor()">
              <div style="height: 6px;"></div>
              My Target's Target's Name: &nbsp<input type="search" name="myKillName" size="10" autocomplete="off">
              <input type="hidden" name="myTeamCode" value="<%= playerTeamCode %>">
              <div style="height: 12px;"></div>
              <input type="submit" class="btn btn-info" value="Confirm Kill"/>
          </form>
          <div style="height: 8px;"></div>

      <% } %>

<% } %>
