<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="\stylesheets\custom.css">
<script src="javascripts/utilities.js"></script>

<%  if	((gameStatus == "Live") || (gameStatus == "Overnight"))
    {
%>
      <div style="height: 2px;"></div>
      Your team status is <b>Live</b>.
      <div style="height: 3px;"></div>
      Your individual status is <b><%= playerStatus %></b>.
      <div style="height: 6px;"></div>
      Target Team Name:&nbsp<%= targetTeamName %>
      <div style="height: 3px;"></div>
      Target Name:&nbsp<%= targetName %>

      <% if (targetCelebStatus == 1) { %>

        (Celebritarian)

     <% } %>

      <div style="height: 13px;"></div>

      <form>
      <img src=<%=targetPic%>
       loading="lazy">
      </form>

      <div style="height: 12px;"></div>

      <% if ((playerStatus == "Live") && (gameStatus == "Live")) { %>

          <form action="validateKill" method="post">
              <div style="height: 6px;"></div>
              <%= targetName %>'s Target's Name: &nbsp<input type="search" name="myKillName" size="10" autocomplete="off">
              <input type="hidden" name="myTeamCode" value="<%= playerTeamCode %>">
              <input type="hidden" name="myPlayerCode" value="<%= playerCode %>">

              <div style="height: 12px;"></div>
              <input type="submit" class="btn btn-info" value="Confirm Kill" onclick="this.disabled=true;this.form.submit();"/>
          </form>
          <div style="height: 8px;"></div>

      <% } %>


<% } else
  {%>
    <div style="height: 14px;"></div>
<% } %>
