<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Assassin</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="\stylesheets\custom.css">
	<script src="javascripts/utilities.js"></script>
</head>

<body class="container" style="margin-top: 10px;" onload="defaultCursor();">

<div style="height: 2px;"></div>

<div class="row justify-content-center">

    <div class="card" style="width:21rem;">

        <div class="card-header">
          Full Game Status
          <div style="height: 4px;"></div>
        </div>

        <div class="card-body">

					<div class="rules-page">

					<div style="height: 4px;"></div>
					<u>Chain</u>
					<div style="height: 2px;"></div>

					<%
							var i = 0;

							if ((i<rows[0].length) && (rows[0][i].type == "Chain"))
							{
								%>
								<ul>
									<%
										while ((i<rows[0].length) && (rows[0][i].type == "Chain"))
										{
												%>
												<li><%=rows[0][i].data%></li>
											<%
											i++;
										}
									%>
								</ul>

							<%
							}
							%>

					<div style="height: 10px;"></div>


					<u>Waiting Teams</u>
					<div style="height: 2px;"></div>

					<%

							// Waiting -------------------------

							if ((i<rows[0].length) && (rows[0][i].type == "Waiting"))
							{
								%>
								<ul>
									<%
										while ((i<rows[0].length) && (rows[0][i].type == "Waiting"))
										{
												%>
												<li><%=rows[0][i].data%></li>
											<%
											i++;
										}
									%>
								</ul>

							<%
							}
							%>

					<div style="height: 10px;"></div>

					<u>Inactive Teams</u>
					<div style="height: 2px;"></div>

					<%

							// Inactive -------------------------

							if ((i<rows[0].length) && (rows[0][i].type == "Inactive"))
							{
								%>
								<ul>
									<%
										while ((i<rows[0].length) && (rows[0][i].type == "Inactive"))
										{
												%>
												<li><%=rows[0][i].data%></li>
											<%
											i++;
										}
									%>
								</ul>

							<%
							}
							%>

					<div style="height: 10px;"></div>

					<u>Break Teams</u>
					<div style="height: 2px;"></div>

					<%

							// Break -------------------------

							if ((i<rows[0].length) && (rows[0][i].type == "Break"))
							{
								%>
								<ul>
									<%
										while ((i<rows[0].length) && (rows[0][i].type == "Break"))
										{
												%>
												<li><%=rows[0][i].data%></li>
											<%
											i++;
										}
									%>
								</ul>

							<%
							}
							%>

					<div style="height: 10px;"></div>

					<u>Registered Teams</u>
					<div style="height: 2px;"></div>

					<%

							// Registered -------------------------

							if ((i<rows[0].length) && (rows[0][i].type == "Registered"))
							{
								%>
								<ul>
									<%
										while ((i<rows[0].length) && (rows[0][i].type == "Registered"))
										{
												%>
												<li><%=rows[0][i].data%></li>
											<%
											i++;
										}
									%>
								</ul>

							<%
							}
							%>

					<div style="height: 10px;"></div>

					<u>Paid Teams</u>
					<div style="height: 2px;"></div>

					<%

							// Paid -------------------------

							if ((i<rows[0].length) && (rows[0][i].type == "Paid"))
							{
								%>
								<ul>
									<%
										while ((i<rows[0].length) && (rows[0][i].type == "Paid"))
										{
												%>
												<li><%=rows[0][i].data%></li>
											<%
											i++;
										}
									%>
								</ul>

							<%
							}
							%>

					<div style="height: 10px;"></div>

					<u>Pics Approved Teams</u>
					<div style="height: 2px;"></div>

					<%

							// Pics approved -------------------------

							if ((i<rows[0].length) && (rows[0][i].type == "Pics Approved"))
							{
								%>
								<ul>
									<%
										while ((i<rows[0].length) && (rows[0][i].type == "Pics Approved"))
										{
												%>
												<li><%=rows[0][i].data%></li>
											<%
											i++;
										}
									%>
								</ul>

							<%
							}
							%>

					<div style="height: 10px;"></div>

					<u>Quit Teams</u>
					<div style="height: 2px;"></div>

					<%

							// Quit -------------------------

							if ((i<rows[0].length) && (rows[0][i].type == "Quit"))
							{
								%>
								<ul>
									<%
										while ((i<rows[0].length) && (rows[0][i].type == "Quit"))
										{
												%>
												<li><%=rows[0][i].data%></li>
											<%
											i++;
										}
									%>
								</ul>

							<%
							}
							%>

					<div style="height: 14px;"></div>

					<u>Celebritarians</u>
					<div style="height: 2px;"></div>

					<%

							// Celebritarians -------------------------

							if ((i<rows[0].length) && (rows[0][i].type == "Celeb"))
							{
								%>
								<ul>
									<%
										while ((i<rows[0].length) && (rows[0][i].type == "Celeb"))
										{
												%>
												<li><%=rows[0][i].data%></li>
											<%
											i++;
										}
									%>
								</ul>

							<%
							}
							%>

					<div style="height: 10px;"></div>

					<u>Players</u>
					<div style="height: 2px;"></div>

					<%

							// Players -------------------------

							if ((i<rows[0].length) && (rows[0][i].type == "Player"))
							{
								%>
								<ul>
									<%
										while ((i<rows[0].length) && (rows[0][i].type == "Player"))
										{
												%>
												<li><%=rows[0][i].data%></li>
											<%
											i++;
										}
									%>
								</ul>

							<%
							}
							%>

					<div style="height: 10px;"></div>

          <form autocomplete="off" action="assassinLogin" method="post" onsubmit="return waitCursor()" encType="multipart/form-data">
                <input type="submit" class="btn btn-info" value="Home"/>
                <div style="height: 6px;"></div>
          </form>

					<div style="height: 10px;"></div>

        </div>

      </div>

</div>

</body>
</html>
